// AI Agents

.kiro
.vscode
.roo
.roomodes
GEMINI.md


// Dev docs

docs/archive
docs/.archive2
docs/.todo
docs/prior_remediation
help_menu.txt
help_menu_notes.txt
testfile.txt


// Binaries

build
/chexum


// IDE files

chexum.code-workspace
tmp/

